@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@keyframes move-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0)
    }
}


:root {

    --primaryblue: #0077B6;
    --lightgray: #EEEEEE;
    --textgray: #C5C5C5;
    --hoverblue: #1C77FF;
    --textdark: #252525;
    --textlight: #4E4E4E;
    --darkblue: #333333;
    --primarybluergb: 0, 119, 182;
    --lightgrayrgb: 238, 238, 238;

    /* Portfolio Colors */
    --cyberpunkred: #df4a3b;
    --cyberpunkredhover: #E22E1C;
    --smsgreen: #51BDD1;
    --smsgreenhover: #23BBD7;
    --noteblue: #007BFF;
    --notebluehover: #0063CD;
    --darkgray: #181818;
    --darkgraysemi: #181818AA;
    --lightgraysemi: #EEEEEEAA;

    /* Default */
    --themeprimary: var(--primaryblue);
    --thememain: var(--lightgray);
    --themetext: var(--textdark);
    --thememaingray: var(--textgray);
    --themetextgray: var(--textlight);
    --themeprimarybg: var(--primaryblue);
    --themeportfoliocards: var(--lightgray);
    --themeportfoliocardsrgb: var(--lightgrayrgb);
    --themeportfoliobutton: var(--primaryblue);
    --themeportfoliocardbg: var(--lightgraysemi);

    /* Animation */
    --bgmovespeed: -100vw
}

#theme-toggle:checked ~ .site-content, #theme-toggle:checked ~ .navbar {
    --themeprimary: var(--primaryblue);
    --thememain: var(--textdark);
    --themetext: var(--lightgray);
    --thememaingray: var(--textlight);
    --themetextgray: var(--textgray);
    --themeprimarybg: var(--darkblue);
    --themeportfoliocards: var(--primaryblue);
    --themeportfoliocardsrgb: var(--primarybluergb);
    --themeportfoliobutton: var(--lightgray);
    --themeportfoliocardbg: var(--darkgraysemi);
}

.body-set {
    background: linear-gradient(180deg, #252525 0%, #333 100%);
}

body {
    font-family: 'Rubik';
    color: var(--textdark);
    --thememain: var(--lightgray);
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

body:has(#theme-toggle:checked){
    --thememain: var(--textdark);
}

/* Theming */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 119, 182)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

.bg-thememain {
    background-color: var(--thememain);
}

.bg-themeprimarybg {
    background-color: var(--themeprimarybg)
}

.bg-themeportfoliocards {
    background-color: var(--themeportfoliocards)
}

.bg-themeportfoliobutton {
    background-color: var(--themeportfoliobutton) 
}

.bg-thememaininvert {
    background-color: var(--themetext);
}

.bg-portfoliocardbg {
    background-color: var(--themeportfoliocardbg);
}

.color-themetext {
    color: var(--themetext) 
}

.color-thememaingray {
    color: var(--thememaingray)
}

.color-themetextgray {
    color: var(--themetextgray)
}

.color-thememain {
    color: var(--thememain)
}

.color-portfoliocard {
    color: var(--themeportfoliocards) !important;
}

.bg-primaryblue {
    background-color: var(--primaryblue);
}

.bg-lightgray {
    background-color: var(--lightgray);
}

.bg-textgray {
    background-color: var(--textgray);
}

.bg-textdark {
    background-color: var(--textdark);
}

.color-primaryblue {
    color: var(--primaryblue);
}

.color-lightgray {
    color: var(--lightgray);
}

.color-textgray {
    color: var(--textgray);
}

.color-textlight {
    color: var(--textlight);
}

.color-textdark {
    color: var(--textdark);
}

.color-cyberpunk {
    color: var(--cyberpunkred);
}

.bg-cyberpunk {
    background-color: var(--cyberpunkred);
}

.color-smsgreen {
    color: var(--smsgreen)
}

.bg-smsgreen {
    background-color: var(--smsgreen);
}

.color-noteblue {
    color: var(--noteblue)
}

.bg-noteblue {
    background-color: var(--noteblue);
}

.text-spacemono {
    font-family: 'Space Mono', sans-serif;
}

.text-rubik {
    font-family: 'Rubik', sans-serif;
}

.text-fredoka {
    font-family: 'Fredoka', sans-serif;
}

.height-inherit {
    height: inherit;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

.nav-link:hover, .nav-link:focus {
    color: var(--primaryblue)
}

.site-content * {
    position: relative;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.navbar * {
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

#hero {
    height: 100vh;
}

.hero-div-fixed {
    left:0;
    right: 0;
    margin: auto;
}

.hero-text {
    /* width: clamp(46rem, 54rem, 59rem) */
    max-width: 59rem;
}

.hero-subtext {
    max-width: 40rem;
}

.down-arrow {
    animation: move-down 1s infinite ease-in-out;
}

.sticky-p {
    position: sticky;
    top: 5%;
}

.button {
    display: block;
    padding: 1rem 3rem;
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;
}

.button-outline {
    display: block;
    padding: 1rem 3rem;
    border-radius: 10px;
    border: 1px solid;
    text-decoration: none;
    background: none;
    transition: all .5s;
}

.button-blue {
    background-color: var(--primaryblue);
    transition: background-color .5s
}

.button-blue:hover {
    background-color: var(--hoverblue);
}

.button-cyberpunk {
    background-color: var(--cyberpunkred);
    transition: background-color .5s;
}

.button-cyberpunk:hover {
    background-color: var(--cyberpunkredhover);
}

.button-outline-cyberpunk {
    color: var(--cyberpunkred);
    border: 1px solid --cyberpunkred;
}

.button-outline-cyberpunk:hover {
    color: white;
    background-color: var(--cyberpunkred);
    border-color: var(--cyberpunkred);
}

.button-smsgreen {
    background-color: var(--smsgreen);
    transition: background-color .5s;
}

.button-smsgreen:hover {
    background-color: var(--smsgreenhover);
}

.button-outline-smsgreen {
    color: var(--smsgreen);
    border: 1px solid var(--smsgreen);
}

.button-outline-smsgreen:hover {
    color: white;
    background-color: var(--smsgreen);
    border-color: var(--smsgreen);
}

.button-noteblue {
    background-color: var(--noteblue);
    transition: background-color .5s;
}

.button-noteblue:hover {
    background-color: var(--notebluehover);
}

.button-outline-noteblue {
    color: var(--noteblue);
    border: 1px solid var(--noteblue);
}

.button-outline-noteblue:hover {
    color: white;
    background-color: var(--noteblue);
    border-color: var(--noteblue);
}

.service-card {
    background-color: var(--lightgray);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.service-card:hover {
    box-shadow: 0px 4px 15px rgba(56, 136, 255, 0.5);
    transform: scale(1.05);
}

.service-card-icon {
    font-size: 5rem;
}

.portfolio-text {
    max-width: 40rem;
}

.portfolio-card {
    background-color: var(--themeportfoliocards);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    max-height: 338px;
    transition: all .4s;
    box-shadow: none;
}

.portfolio-card-content {
    background: linear-gradient(90deg, var(--themeportfoliocards) 25%, 90%, rgba(var(--themeportfoliocardsrgb), 0));
    max-width: 40rem;
    z-index: 3;
}

.portfolio-project-type {
    background-color: var(--themetext);
    padding: .25em .5em;
    border-radius: 15px;
}

.portfolio-images {
    position: relative;
    z-index: 1;
    width: 50%;
}

.bi-arrow-right-circle::before {
    transition: transform 1s ease-in-out;
}

.portfolio-card:hover .bi-arrow-right-circle::before {
    transform: rotate(330deg);
}

.about-card {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .4s ease-in-out, background-color .4s ease-in-out;
}

.about-card img {
    width: 2rem;
    height: auto;
    filter: none;
    transition: filter .4s ease-in-out;
}

.ai-card img {
    width: 1.5rem;
}

.about-card:hover img{
    filter: brightness(0) saturate(100%)  invert(23%) sepia(94%) saturate(1791%) hue-rotate(179deg) brightness(106%) contrast(106%);
}

.about-card svg {
    color: var(--thememain);
    transition: .4s color ease-in-out;
}

.about-card:hover svg {
    color: var(--primaryblue);
    transition: .4s color ease-in-out;
}

.about-card:hover {
    box-shadow: 0px 0px 15px rgba(56, 136, 255, 0.5);
}

.about-img-div {
    margin-top: 5rem;
}

.about-circle {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    background: linear-gradient(180deg, #3888FF 0%, #181818 100%);
    transition: .4s background;
}

.about-mask {
    mask: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 80%);
    mask-clip: no-clip;
    width: 400px;
    height: 500px;
    transform: translateY(-10%);
}   

.about-mask-animation {
    animation: about-img-move .6s 1;
}

.about-mask img {
    height: auto;
    width: 350px;
    z-index: 6;
}

.portfolio-images img {
    transition: all 1s ease-in-out
}

.portfolio-card:hover .port-img-hover {
    transform: translateY(-10%);
}

.about-circle:hover {
    background: linear-gradient(180deg, #181818 0%, #3888FF 100%);
}

.about-info {
    z-index: 5;
}


.cta-button {
    width: 350px
}

.hero-img-container {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: #3888FF;
    border-radius: 20px;
    transition: background-color .4s ease-in-out
}

#hero-img-div {
    background: url('../assets/sparklepattern.png');
    background-repeat: repeat;
    border-radius: 20px;
    width: 100%;
    animation: movebg 60s infinite linear;
    background-size: 10%;
    transition: background-size .4s ease-in-out
}

#hero-img-div img {
    height: inherit;
    transition: scale .4s ease-in-out, filter .4s ease-in-out;
    filter: drop-shadow(2px 2px 2px #222) saturate(10%);
}

#hero-img-div img:hover {
    scale: 1.1;
    filter: drop-shadow(8px 8px 5px #222) saturate(100%);
}

#hero-img-div:has(img:hover) {
    background-size: 36px;
}

.hero-img-shadow-mask {
    height: inherit;
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 11px 10px 51px -7px rgba(0,0,0,0.61) inset;
    -webkit-box-shadow: 11px 10px 51px -7px rgba(0,0,0,0.61) inset;
    -moz-box-shadow: 11px 10px 51px -7px rgba(0,0,0,0.61) inset;
    z-index: 2;
    border-radius: 20px;
    pointer-events: none;
}

.debug-border {
    border: 1px solid red;
}




@media screen and (max-width: 768px){
    .portfolio-card-content {
        background: var(--themeportfoliocardbg);
        max-width: unset;
        width: 100%;
        z-index: 3;
        text-align: center;
    }

    .portfolio-card {
        max-height: unset;
        height: auto;
    }

    .hero-img-container {
        width: 400px;
        height: 300px;
    }

    .portfolio-images {
        width: 100%;
        position: absolute;
    }
}

@media screen and (max-width: 576px){

    :root {
        --bgmovespeed: -500vw;
    }

    #hero {
        height: 100vh;
    }

    .hero-text {
        width: 100%;
        max-width: 100%;
    }

    .hero-subtext {
        width: 100%;
        max-width: 100%;
    }

    .hero-img-container {
        width: 100%;
        height: 250px;
        margin: 0;
    }
    
    .hero-img-shadow-mask {
        width: 100%;
    }

    .about-img-div {
        overflow-y: hidden;
    }

    .about-mask {
        width: 100%;
    }

    .about-mask img {
        width: 100%;
    }

    .about-circle {
        height: 100%;
        width: 100%;
        overflow-y: hidden;
    }

    .about-circle img {
        transform: translateY(50%);
        width: 100%;
    }

    .about-circle-mobile {
        height: 0;
        padding-bottom: 100%;
        width: 100%;
    }

    .about-mask {
        mask: radial-gradient(ellipse at top, rgb(0, 0, 0) 30%, rgba(0,0,0,0) 75%)
    }

    .about-img-div {
        margin-top: 2rem;
    }
}

/* Animations */
@keyframes about-img-move {
     0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-5);
    }
}

@keyframes movebg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: var(--bgmovespeed) 0;
    }

    
}